.fff-1 {
    color: #6200ff;
    margin-bottom: 0rem;
    background-color: #ffff;
    padding: 1%;
    align-items: center;
    justify-content: center;
}

/* Título de la página "AJUSTES" */
.fff-2{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: #6200ff;
    background-color: #ffff;
    padding: auto;
    align-items: center;
    justify-content: center;
}

.back-button {
    position: absolute;
    top: -6px;
    left: -8px;
    font-size: 2rem !important;
}

.back-button ion-icon {
    font-size: 2.5rem !important;
    color: #6200ff !important;
}

.notifications-card {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-height: 80%;
    overflow-y: auto;
    z-index: 1000;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
}

.close-button ion-icon {
    font-size: 30px;
    color: #ff0000;
}

.unread-indicator {
  background: var(--ion-color-primary);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  inset-inline-start: 12px;
  top: 12px;
}

.metadata-end-wrapper {
  position: absolute;
  top: 10px;
  inset-inline-end: 10px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

ion-label strong {
  display: block;
  max-width: calc(100% - 60px);
  overflow: hidden;
  text-overflow: ellipsis;
}

ion-label ion-note {
  font-size: 0.9rem;
}

.time-now {
  position: fixed; /* Fija la posición del elemento en la pantalla */
  top: 97%; /* Centra verticalmente el elemento */
  left: 50%; /* Centra horizontalmente el elemento */
  transform: translate(-50%, -50%); /* Ajusta la posición para centrar el elemento */
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  color: #00ffcc; /* Color azul verdoso brillante */
  background-color: #6200ff; /* Fondo oscuro, como una pantalla */
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 255, 204, 0.6), 0 0 15px rgba(0, 255, 204, 0.4);
  text-align: center;
  width: 40%;
}



.notification-container {
  max-height: 400px; /* Ajusta este valor según sea necesario */
  overflow-y: auto; /* Permite el desplazamiento vertical */
}