.tab-3 {
    --background: #ffffff;
    /* Fondo blanco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(255, 255, 255);
    /* Texto en blanco para contraste */
    text-align: center;
    /* Alineación central del texto */
}

.explore-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(96, 48, 255);
}

/* Ajustes para el título grande centrado */
h1 {
    font-size: 3rem;
    /* Tamaño del texto del título */
    color: white;
    /* Color del texto */
    background-color: #7045ff;
    /* Fondo del título */
    text-align: center;
    /* Centrar el texto */
    margin: 0 auto;
    /* Márgenes automáticos para centrar en la página */
    padding: 1rem 0;
    /* Espaciado interno */
    width: 90%;
    /* Ancho para dejar margen a los lados */
}

ion-header[collapse="condense"] ion-title {
    font-size: 1.2rem;
    /* Tamaño ajustado para el título colapsado */
    color: #f4f4f5;
    /* Color gris claro */
}

.ddd {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 0rem;
    background-color: #7045ff;
    padding: 1%;
    align-items: center;
    justify-content: center;
}

.dda {
    font-weight: bold;
    font-size: 2.5rem;
    color: #ffffff;
    background-color: #7045ff;
    padding: 4% 1%;
    align-items: center;
    justify-content: center;
}

.no-minuta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin: 1rem auto;
    width: 90%;
}

.no-minuta-1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.no-minuta-2 {
    font-size: 1rem;
    font-weight: bold;
}

.lista-minutas {
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.minuta-item {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.minuta-item:last-child {
    border-bottom: none;
}

.crear {
    width: 70%;
    /* Ancho del botón para que tenga margen a los lados */
    max-width: 400px;
    padding: 0.5rem;
    /* Espaciado dentro del botón */
    background-color: #0047FF;
    color: white;
    border-radius: 8px;
    margin-top: 15rem;
    /* Para empujar el botón hacia abajo */
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    /* Para tratarlo como un bloque y centrarlo */
    margin-left: auto;
    /* Alineación automática a la izquierda */
    margin-right: auto;
    /* Alineación automática a la derecha */
}

ion-checkbox {
    --size: 20px;
    --checkbox-background-checked: #2DD55B;
}

ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #2DD55B;
}

/* Asegúrate de que los checkboxes estén alineados a la izquierda */
.checkbox-item {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
  }
  