/* Fondo negro para toda la página */
.tab-1 {
  background-color: #5a2e91;
  /* Fondo negro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgb(255, 255, 255);
  /* Texto en blanco para contraste */
  text-align: center;
  /* Alineación central del texto */
}

/* Estilos para el título en el header */
ion-title {
  font-size: 1.2rem;
  /* Tamaño de fuente */
  font-weight: bold;
  text-transform: uppercase;
  /* Texto en mayúsculas */
  color: rgb(221, 70, 221);
}

/* Personalización del toolbar */
ion-toolbar {
  --background: #000000;
  /* Fondo oscuro del toolbar */
  --ion-color-primary: #ffffff;
  /* Texto del toolbar en blanco */
  --ion-color-secondary: #f4f4f5;
  /* Color secundario claro */
}

/* Asegurar que ExploreContainer esté también centrado */
.explore-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Ajustes para un título grande colapsado */
ion-header[collapse="condense"] ion-title {
  font-size: 1.2rem;
  /* Tamaño ajustado para el título colapsado */
  color: #f4f4f5;
  /* Color gris claro */
}

.recipe-dot {
  height: 0.5rem;
  width: 0.5rem;
  background-color: #2dd36f;
  border-radius: 50%;
  margin: 0 auto;
}

.bba {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 0rem;
  background-color: #5a2e91;
  padding: 1%;
  align-items: center;
  justify-content: center;
}

.bbb {
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffffff;
  background-color: #5a2e91;
  padding: 4% 1%;
  align-items: center;
  justify-content: center;
}

.react-calendar {
  width: 90%;
  /* Se ajusta al 100% del ancho del contenedor */
  max-width: 600px;
  /* Limita el tamaño máximo */
  height: auto;
  /* Ajusta automáticamente la altura */
  margin: 0 auto;
  /* Centra el calendario horizontalmente */
  border: none;
  color: #000000;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Personaliza la cabecera del calendario (días de la semana) */
.react-calendar__month-view__weekdays {
  background-color: #f5f5f5;
  text-transform: uppercase;
  font-weight: bold;
}

/* Personaliza los días (celdas del calendario) */
.react-calendar__tile {
  background-color: #fff;
  border-radius: 6px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

/* Color de los días seleccionados */
.react-calendar__tile--active {
  background-color: #4CAF50;
  /* Verde */
  color: white;
}

/* Hover sobre los días */
.react-calendar__tile:hover {
  background-color: #e0f7fa;
}

/* Estilo del borde del calendario */
.react-calendar__tile--now {
  background-color: #FFEB3B;
  /* Color para el día actual */
}

/* Personaliza los botones de navegación (anterior/siguiente) */
.react-calendar__navigation button {
  color: #000000;
  font-size: 18px;
  font-style: bold;
}

.recipes-section-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin: 1rem auto;
  width: 90%;
  max-height: 60vh;
  /* Fijar la altura máxima */
  overflow-y: auto;
  /* Activar el scroll vertical si el contenido excede el tamaño */
  overflow-x: hidden;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #7045ff;
}

.h3_card_intrucciones_tab1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #7045ff;
}

.li_card_instrucciones_tab1 {
  font-size: medium;
  color: #2c2c2c;
  padding: 0.4rem;
}

.card_intrucciones_tab1 {
  margin: 2rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.boton_retroceso_tab1{
  display: block;        /* Asegúrate de que el botón sea tratado como bloque */
  margin-left: 2rem;        /* Elimina el margen a la izquierda (si hay) */
  margin-right: auto;    /* Empuja el margen derecho al máximo */
  text-align: left; 
}

.instructions-modal p {
  font-weight: bold;
  padding: 2%;
  align-items: normal;
}


.modal-content {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Altura máxima del modal para evitar que ocupe toda la pantalla */
  padding: 10px;
  box-sizing: border-box;
}

.modal-header {
  margin-bottom: 10px;
}

.modal-body {
  flex: 1; /* Permite que este contenedor crezca dentro del modal */
  overflow-y: auto; /* Activa la barra de desplazamiento vertical si el contenido excede la altura */
  padding: 10px;
  border: 1px solid #ccc; /* Opcional, solo para separar visualmente */
  border-radius: 5px;
}

.minuta-card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.minuta-card h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #7045ff;
}

.ingrediente-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.edit-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

.edit-card h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.edit-card p {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.edit-card ion-input {
  margin-bottom: 20px;
  width: 100%;
}

.modal-body {
  overflow-y: auto;
  max-height: calc(100vh - 150px);
}

.alerta {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}
.alerta.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}
.alerta.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

/* From Uiverse.io by alexruix */ 
.input-group {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.input {
  min-height: 50px;
  max-width: 100%;
  padding: 0 1rem;
  color: #000;
  font-size: 15px;
  border: 1px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #5e4dcd;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:hover {
  background-color: #5e5dcd;
}

.input:focus, .input:focus-visible {
  border-color: #3898EC;
  outline: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #999;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.close-button:hover {
  color: #5e4dcd; /* Cambiar color al pasar el mouse */
}