
.page-on {
  display: absolute;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #7045ff; /* Fondo morado */
}

.modal2 {
  display: fixed;
  font-weight: bold;
  padding: 1%;
  padding-bottom: 4rem;
  padding-top: 4rem;
  background-color: #7045ff;
}

.obj-content {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: auto;
}

.obj-card {
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px #6f016aed;
  bottom: -14rem;
}

.obj-item {
  margin-bottom: 10px;
  border-radius: 14px;

  --padding-start: 48px;
  --padding-end: 83px;
  --padding-top: 2px;
}

.obj-label {
  font-size: 18px !important; 
  margin-bottom: 8px;
  font-display: swap;
  font-size-adjust: 0.58;
  color: #000000;
  
}


.obj-input {
  --padding-start: 12px;  
  --padding-top: 2px;
  --padding-bottom: 2px;
  border: 1px solid #9d00d65a;
  border-radius: 4px;
  margin-top: 12px;
}

.obj-input::placeholder {
  color: #46007f;
}

.obj-button {
  margin-top: 16px;
  --border-radius: 20px;
}


.obj-toast {
  --color: rgb(0, 163, 5);
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 8px;
  --padding-start: 16px;
  --padding-end: 16px;
}

.obj-loading {
  --background: rgba(0, 0, 0, 0.5);
}

.dheader {
  font-weight: bold;
  color: #ffffff;
}

.dh2 {
  font-weight: bold;
  font-size: 2.3rem;
  color: #ffffff;
  background-color: #7045ff;
}

.boton_r {
  background-color: #7045ff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.card-objetivos {
  display: fixed;
  font-weight: bold;
  font-size: 1rem;
  color: #000000;
  margin-top: 15%;
  margin-bottom: 3rem;
  padding: 1%;
  padding-bottom: 4rem;
  padding-top: 4rem;
  align-items: center;
  justify-content: center;
}


.form {
  padding: auto;
  margin: auto;
  padding-top: 4rem;
  background-color: #6a3ff9;
  border-radius: 1%;
}

.form .itemm {
  color: #000000;
  border-radius: 1%;
  padding: 5%;
  margin: 1%;
  border-radius: 44% !important;

}

.btnn {
  border-radius: 2px;
  padding: 55px 20px;
  text-align: horizontal;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

