.ion-page {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-page {
  background-image: url('/public/assets/apple.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 400px;
  height: 100vh;
  
  background-image:url('\public\assets\apple.png') !important;
}

ion-content {
  --background:var(--ion-background-color);
}
.login-header {
  font-size: 4.5rem; /* Tamaño del texto del título */
  font-weight: bold;
  color: #ffffff;
  width: 100%; /* Ancho completo */
  text-align: center;
  padding-top: 10%;
}

.saludo {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.6rem; /* Tamaño del texto del saludo */
  color: #ffffff;
  margin-bottom: 1rem;
  padding-top: 75%;
  text-shadow: 0 0 10px rgb(134, 99, 249), /* Contorno luminoso */
               0 0 20px rgb(59, 0, 251),
               0 0 40px rgb(119, 3, 221);
}

.login-button, .register-button {
  max-width: 400px;
  margin-top: 1.5rem;
  padding-top: 1%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  padding-top: 15%;
}

.login-button:hover, .register-button:hover {
  filter: brightness(1.1); /* Efecto de brillo al pasar el cursor */
}
