.tab-1 {
  --background: #ffffff; /* Fondo blanco */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgb(42, 0, 253); /* Texto en blanco para contraste */
  text-align: center; /* Alineación central del texto */
}

.explore-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-header[collapse="condense"] ion-title {
  font-size: 1.2rem; /* Tamaño ajustado para el título colapsado */
  color: #f4f4f5; /* Color gris claro */
}

.ddd {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 0rem;
  padding: 1%;
  align-items: center;
  justify-content: center;
}

.dda {
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffffff;
}

/* From Uiverse.io by alexruix */ 
.loader {
  width: 100px;
  height: 80px;
  position: relative;
  padding-top: 30rem;
  bottom: 20px; /* Ajusta este valor según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: column;
  align-items: center;
  justify-content: center;
}

.loader-text {
  position: relative;
  top: -30px;
  left: -20px;
  padding: 0;
  margin: 0;
  color: #5c27fc;
  animation: text_713 3.5s ease both infinite;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.load {
  background-color: #9A79FF;
  border-radius: 10px; 
  display: block; 
  height: 14px;
  width: 46px; 
  bottom: 0;
  position: absolute;
  transform: translateX(64px); 
  animation: loading_713 3.5s ease both infinite;  
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #bfadf4;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}

.no-minuta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin: 1rem auto;
  width: 90%;
}

.no-minuta-1{
  font-size: 1.5rem;
  font-weight: bold;
}

.no-minuta-2 {
  font-size: 1rem;
  font-weight: bold;
}

.lista-minutas {
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius:10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.minuta-item {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.minuta-item:last-child {
  border-bottom: none;
}

.crear {
  width: 70%; /* Ancho del botón para que tenga margen a los lados */
  max-width: 400px;
  padding: 0.5rem; /* Espaciado dentro del botón */
  background-color: #0047FF;
  color: white;
  border-radius: 8px;
  margin-top: 15rem; /* Para empujar el botón hacia abajo */
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  display: block; /* Para tratarlo como un bloque y centrarlo */
  margin-left: auto; /* Alineación automática a la izquierda */
  margin-right: auto; /* Alineación automática a la derecha */
}


.custom-loading-tech .loading-wrapper {
  background-color: #b9d0ff; /* Fondo oscuro */
  color: #2c08a4; /* Color del texto */
  font-size: 1.2rem; /* Tamaño del texto */
  
  border-radius: 12px; /* Bordes redondeados para modernidad */
}

.custom-loading-tech .spinner-lines {
  stroke: #2112f8; /* Color vivo para las líneas */
}





