.tab-3 {
    --background: #ffffff;
    /* Fondo blanco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #ffffff;
    /* Texto en blanco para contraste */
    text-align: center;
    /* Alineación central del texto */
}

.explore-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #6030ff;
}


ion-header[collapse="condense"] ion-title {
    font-size: 1.2rem;
    /* Tamaño ajustado para el título colapsado */
    color: #f4f4f5;
    /* Color gris claro */
}

.ion-padding {
    background-color: #ffffff !important;
}

.modal-intruc {
    background-color: #5a2e91 !important;
}

.bba {
    display: fixed;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 0rem;
    background-color: #7045ff;
    padding: 1%;
    align-items: center;
    justify-content: center;
}

.bbb {
    display: fixed;
    font-weight: bold;
    font-size: 2.5rem;
    color: #ffffff;
    background-color: #7045ff;
    padding: 4% 1%;
    align-items: center;
    justify-content: center;
}




.modalContent {
    max-height: 100vh;
    /* Limita la altura para permitir scroll en el contenido */
    overflow-y: auto;
    /* Activa el scroll solo en el contenido */
    padding: 1rem;
    /* Espaciado interno */
    background-color: #ffffff;
    /* Fondo blanco */
    font-size: 1.5rem;
}

.back-button {
    position: absolute;
    top: 1px;
    left: rem;
    font-size: 4rem !important;
}


.modalcap {
    position: sticky;
    /* Fija el elemento en la parte superior de la ventana */
    top: -0;
    /* Posiciona el elemento en la parte superior */
    color: #6200ff;
    margin-bottom: 1rem;
    background-color: #ffff;
    padding: auto;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    /* Tamaño de fuente */
    font-weight: bold;
    z-index: 1;
    /* Coloca el elemento por encima de los demás */
}

.modaltext {
    position: sticky;
    /* Fija el elemento en la parte superior de la ventana */
    font-weight: bold;
    text-align: center;
    font-size: 2.2rem;
    color: #6200ff;
    background-color: #ffff;
    padding: auto;
    align-items: center;
    justify-content: center;
}

.back-button ion-icon {
    font-size: 4rem !important;
    position: sticky;
    z-index: 1;

}


.mostratIntruccion {
    position: sticky;
    /* Fija el elemento en la parte superior de la ventana */
    top: 0;
    /* Posiciona el elemento en la parte superior */
    font-size: 1rem;
    /* Tamaño de fuente */
    font-weight: bold;
    padding: 1%;
    align-items: center;
    justify-content: center;
    /* Coloca el elemento por encima de los demás */
}


/* Estilos para el título en el header */

ion-title {
    font-size: 1.2rem;
    /* Tamaño de fuente */
    font-weight: bold;
    text-transform: uppercase;
    /* Texto en mayúsculas */
    color: rgb(221, 70, 221);
}

ion-card {
    padding: 0.5rem;
    margin-bottom: 2.5rem;
}

ion-card-title {
    padding-bottom: 1rem;
    text-align: left;
    color: #2dd36f;
    /* Color verde */
    font-weight: bold;
    /* Para hacer el texto en negrita */
}

ion-button {
    margin-top: 1rem;
}

.card-alimento-manual {
    margin-top: 4rem;
}

ion-checkbox {
    --size: 20px;
    --checkbox-background-checked: #2DD55B;
}

h1 {
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5%;
    background-color: #501d5e;
    padding: 5%;
    align-items: center;
    justify-content: center;

}

.custom-alert {
    background: #ffffff;
    color: #209445;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(76, 6, 67, 0.652);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.custom-alert .alert-button {
    background: #8b09ab;
    color: #5ee8a1;
}

/* From Uiverse.io by alexruix */
.loader-background {
    position: fixed; /* Cubre toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Fondo blanco */
    z-index: 9998; /* Debajo del loader */
}

.loaderTab3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Por encima del fondo */
    width: 100px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader-textTab3 {
    position: relative;
    color: #5c27fc;
    animation: text_713 3.5s ease both infinite;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.loadTab3 {
    background-color: #9A79FF;
    border-radius: 10px;
    display: block;
    height: 14px;
    width: 46px;
    position: relative;
    animation: loading_713 3.5s ease both infinite;
}

.loadTab3::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #bfadf4;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
}



@keyframes text_713 {
    0% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }

    40% {
        letter-spacing: 2px;
        transform: translateX(26px);
    }

    80% {
        letter-spacing: 1px;
        transform: translateX(32px);
    }

    90% {
        letter-spacing: 2px;
        transform: translateX(0px);
    }

    100% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }
}

@keyframes loading_713 {
    0% {
        width: 16px;
        transform: translateX(0px);
    }

    40% {
        width: 100%;
        transform: translateX(0px);
    }

    80% {
        width: 16px;
        transform: translateX(64px);
    }

    90% {
        width: 100%;
        transform: translateX(0px);
    }

    100% {
        width: 16px;
        transform: translateX(0px);
    }
}

@keyframes loading2_713 {
    0% {
        transform: translateX(0px);
        width: 16px;
    }

    40% {
        transform: translateX(0%);
        width: 80%;
    }

    80% {
        width: 100%;
        transform: translateX(0px);
    }

    90% {
        width: 80%;
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0px);
        width: 16px;
    }
}