.tab-3 {
    --background: #ffffff; /* Fondo blanco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgb(255, 255, 255); /* Texto en blanco para contraste */
text-align: center; /* Alineación central del texto */
}

.explore-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(96,48,255);
}

h1 {
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5%;
    background-color: #501d5e;
    padding: 5%;
    align-items: center;
    justify-content: center;
}

ion-header[collapse="condense"] ion-title {
    font-size: 1.2rem; /* Tamaño ajustado para el título colapsado */
    color: #f4f4f5; /* Color gris claro */
}

.bba {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 0rem;
    background-color: #7045ff;
    padding: 1%;
    align-items: center;
    justify-content: center;
}

.bbb {
    font-weight: bold;
    font-size: 2.5rem;
    color: #ffffff;
    background-color: #7045ff;
    padding: 4% 1%;
    align-items: center;
    justify-content: center;
}

/* Estilos para el título en el header */

ion-title {
    font-size: 1.2rem;
    /* Tamaño de fuente */
    font-weight: bold;
    text-transform: uppercase;
    /* Texto en mayúsculas */
    color: rgb(221, 70, 221);
}

ion-card {
    padding: 0.5rem;
    margin-bottom: 2.5rem;
}

ion-card-title {
    padding-bottom: 1rem;
    text-align: left;
    color: #2dd36f; /* Color verde */
    font-weight: bold; /* Para hacer el texto en negrita */
}

ion-button {
    margin-top: 1rem;
}
  
.card-alimento-manual{
    margin-top: 4rem;
}

ion-checkbox {
    --size: 20px;
    --checkbox-background-checked: #2DD55B;
}