/* Fondo negro para toda la página */
.tab-4{
  --background: #ffffff; /* Fondo negro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgb(255, 255, 255); /* Texto en blanco para contraste */
  text-align: center; /* Alineación central del texto */
}


/* Asegurar que ExploreContainer esté también centrado */
.explore-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(96,48,255);
}

/* Ajustes para un título grande colapsado */
ion-header[collapse="condense"] ion-title {
  font-size: 1.2rem; /* Tamaño ajustado para el título colapsado */
  color: #f4f4f5; /* Color gris claro */
}
.aaa{
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 2rem;
  background-color:rgb(103, 42, 200);
  padding: 1%;
  align-items: center;
  justify-content: center;
}

.aab{
  font-size: 90%;
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffffff;
  background-color:rgb(103, 42, 200);
  padding: 4% 1%;
  align-items: center;
  justify-content: center;
}