.notification {
    position: fixed; /* Fija la posición de la notificación en la pantalla */
    top: -100px; /* Inicialmente fuera de la pantalla */
    left: 50px;
    right: 50px; /* Distancia desde la parte derecha de la pantalla */
    padding: 1.5rem 1.5rem; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    z-index: 1000; /* Asegura que la notificación esté por encima de otros elementos */
    opacity: 2; /* Inicialmente invisible */
    transition: opacity 0.5s ease-in-out, top 1s ease-in-out; /* Transición suave para la opacidad y el movimiento */
    align-items: center; /* Alinea el contenido verticalmente */
    display: flex; /* Muestra el contenido en línea */
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0.5, 0.9); /* Sombra para darle profundidad */
}


.text{
    text-align: center;
    font-size: 1.3rem;
    color: #ffffff;
    justify-content: center;
    flex: 1; /* Ocupa todo el espacio disponible */
}

.notification.success {
    background-color: #008026; /* Color de fondo morado para notificaciones de éxito */
}

.notification.error {
    background-color: #d32f2f; /* Color de fondo rojo para notificaciones de error */
}

.notification.info {
    background-color: #1976d2; /* Color de fondo azul para notificaciones informativas */
}

/* Animación para mostrar la notificación */
.notification.show {
    opacity: 1;
    top: 5rem; /* Posición final */
}

/* Animación para ocultar la notificación */
.notification.hide {
    opacity: 0;
    top: -100px; /* Mueve la notificación hacia arriba */
}